/* ========== Global ============ */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}



/* ========== Início header ========== */
header {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #c5ced4;
  color: #03365f;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 15px 0;
}
.botao-logout {
  width: 80px;
  padding: 10px;
  background-color: #04376144;
  color: black;
  border: 0.1px solid black;
  border-radius: 15px;
  cursor: pointer;
  align-self: flex-end;
}


.oculta {
  visibility: hidden;
}
/* ========== Fim header ========== */

/* ========== Início nav ========== */

nav {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.menu-itens {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.menu-itens a {
  color: #03365f;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
 
}

.menu-itens a:hover {
  color: #004279;
}

.menu-hamburguer {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  gap: 5px;
}

.menu-hamburguer div {
  width: 30px;
  height: 3px;
  background-color:  #03365f;
  border-radius: 2px;
  
}

/* ========== Fim nav ========== */

/* ========== Início body/main ========== */
body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  
}

main {
  width: 80%;
  margin-top: 30px;
  text-align: center;
  flex: 1;
  
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* ========== Fim body/main ========== */

/* ========== Início section/forms ========== */
.login-cadastro {
  display: flex;
  justify-content:center;
  margin-top: 20px;
  gap: 1.25rem;
  
}

.login,
.register {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  height: auto;
  max-width: 24rem;
  background-color: #008cff2f;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login h2,
.register h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs e Botões */
input {
  width: 90%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 10px;
}

button  {
  width: 80px;
  padding: 10px;
  background-color: #04376144;
  color: black;
  border: 0.1px solid black;
  border-radius: 15px;
  cursor: pointer;
  align-self: flex-end;
}

button:hover {
  background-color: #555;
}
/* ========== Fim section/forms ========== */

/* Rodapé */
.footerPage {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
  margin-top: 4rem;
  bottom: 0;
  
}

@media (max-width: 800px) {
  

  .menuBar {
    font-size: 1.5rem;
  }
  .menu-hamburguer {
    display: flex; 
    
  }

  .menu-itens {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #c5ced4;
    padding: 10px;
    gap: 15px;
  }

  .menu-itens.active {
    display: flex; 
  }

  .login-cadastro {
    flex-direction: column; 
    gap: 20px;
  }

  .login,
  .register {
    max-width: 100%; 
    margin: 0;
  }
  .footerPage {
    margin-top: 2rem;
  }
}


